<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fastrash password reset</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      .form-container {
        display: flex;
        align-items: center;
        text-align: center;
        height: 100vh;
        justify-content: center;
        background-color: #bbb3b3;
      }
    </style>
    <script
      src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"
      nonce="<%= cspNonce %>"
    ></script>
  </head>
  <body>
    <!-- center below div -->
    <div class="form-container">
      <form id="formElem">
        <label for="password">Enter new password:</label>
        <input type="password" id="password" name="password" required />
        <br /><br />
        <input type="submit" value="Submit" />
      </form>
    </div>

    <script nonce="<%= cspNonce %>">
      const formElem = document.querySelector('#formElem');

      formElem.onsubmit = async (e) => {
        e.preventDefault();
        let url = window.location.href;

        const password = formElem.elements.password.value;

        url = url.split('/r');
        newUrl = url[0] + '/api/auth/r' + url[1];

        axios
          .post(newUrl, {
            password,
          })
          .then((response) => {
            alert(response.data.message);
          })
          .catch((error) => {
            alert(error.message);
          });
      };
    </script>
  </body>
</html>
